@import 'fonts.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Montserrat';
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    background: transparent;

    &:focus {
        outline: none;
        border: none;
    }
}

body {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 30px;
    @media (max-width:1270px) {
        padding: 20px 15px;
    }
    @media (max-width:620px) {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    a {
        display: flex;
        align-items: center;
        gap: 20px;

        span {
            font-size: 25px;
            font-weight: 700;
            text-transform: uppercase;
            color: #4793FF;
        }
    }

    &-search {
        display: flex;
        gap: 25px;
        input {
            font-weight: 500;
            font-size: 16px;
            color: #000000;
            background: rgba(71, 147, 255, 0.2);
            border-radius: 10px;
            padding: 9px 20px;
            width: 194px;
            &::placeholder{
                color: #000000;
            }
        }
    }
}
.main{
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        @media (max-width:1000px) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        &-left{
            display: flex;
            flex-direction: column;
            position: relative;
            max-width: 400px;
            width: 100%;
            padding: 20px;
            box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
            border-radius: 20px;
            height: 300px;
            img{
                position: absolute;
                width: 119px;
                height: 119px;
                top: 46px;
                right: 20px;
            }
            &__degree{
                font-weight: 500;
                font-size: 96px;
                line-height: 117px;
                color: #4793FF;
            }
            &__today{
                font-size: 40px;
                margin-bottom: 17px;
            }
            &__time, &__city{
                color: #939CB0;
                font-size: 25px;
                margin-top: 12px;
                
            }
        }
        &-right{
            position: relative;
            max-width: 750px;
            width: 100%;
            height: 300px;
            display: flex;
            flex-direction: column;
            box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
            border-radius: 20px;
            padding: 42px 32px;
            @media (max-width:650px) {
                height: 100%;
                padding: 10px 5px;
            }
            &-item{
                display: flex;
                align-items: center;
                gap: 20px;
                @media (max-width:650px) {
                    gap: 10px;
                }
                span{
                    font-size: 14px;
                    color: #939CB0;
                    @media (max-width:650px) {
                        font-size: 12px;
                    }
                    &:last-of-type{
                        color:black;
                    }
                }
            }
            & > img{
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
            }
        }
    }
    &-week{
        margin-top: 63px;
        h2{
            background: #4793FF;
            box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
            border-radius: 5px;
            padding: 7px 21px;
            width: max-content;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 18px;
            color: white;
            margin-bottom: 16px;
            user-select: none;
        }
        &-days{
            display: flex;
            flex-direction: row;
            gap: 20px;
            box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
            border-radius: 0px 0px 20px 20px;
            padding: 20px;
            @media (max-width: 1120px) {
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
        }
        &-day{
            background: rgba(71, 147, 255, 0.2);
            border-radius: 10px;
            padding: 11px 11px 13px;
            max-width: 149px;
            width: 100%;
            height: 210px;
            h3{
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 7px;
            }
            h4{
                color: #939CB0;
                font-weight: 400;
                font-size: 14px;
                margin-bottom: 12px;
            }
            img{
                margin-bottom: 13px;
            }
            h5{
                line-height: 22px;
                font-weight: 500;
                font-size: 18px;
            }
            h6{
                color: #939CB0;
                font-size: 13px;
                font-weight: 400;
                margin-bottom: 6px;
            }
            p{
                font-weight: 400;
                color: #939CB0;
                font-size: 13px;
            }
        }
    }
}
.loading{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__element{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 10px rgb(193, 193, 193) solid;
        position: relative;
        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            top: -10px;
            left: -10px;
            position: absolute;
            border: 10px solid transparent;
            border-top-color: rgba(255, 255, 255, 0.750);
            border-radius: 50%;
            animation: 1s ball ease infinite;
        }
    }
}
@keyframes ball {
    from {
        transform: rotate(0deg);
    }to {
        transform: rotate(360deg);
    }
}
